# Ignore Node.js dependency directories universally
node_modules/

# Ignore environment variable files universally
.env
*.env.* # Also ignore variants like .env.local, .env.development, etc.

# Optional: Ignore build output directories (if applicable)
client/build/
client/dist/
server/dist/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?